/* Color Theme  
 #53616B 
 #1B2C38 
 #181C1F - Base
 #36454F
 #B2BEB5
*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ----- Utility Styles ---- */
  
  .container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
  }
  
  .img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #708097;
    padding: 5px;
  }
  
  .img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #708097;
    padding: 5px;
  }
  
  .img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #708097;
    padding: 5px;
  }
  
  /* ---- Responsive Images ----*/
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* ----- Global Styles ---- */
  
  body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  header.primary {
    background-color: #181c1f;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    /* Shorhand T,R,B,L*/
    padding: 6em 2em;
    position: relative;
  }
  
  header.primary::before {
    content: "";
    background-image: url("https://snipboard.io/41G8Vq.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
  }
  
  header.primary h1 {
    font-size: 3.2rem;
    margin: 20px 0;
    position: relative;
  }
  
  
  
  
  header.primary h2 {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    /* Shorhand Three Value Top, Left/Right, Bottom*/
    margin: 20px auto 40px;
    position: relative;
    color: #708097;
    text-align: center;
  }
  
  header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary nav li {
    list-style-type: none;
    padding: 0;
    width: 20%;
  }
  
  header.primary nav a:link,
  header.primary nav a:visited {
    color: white;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(142, 166, 184, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.6s;
    display:inline-block;
  }
  
  header.primary nav a:hover,
  header.primary nav a:active {
    background-color: rgba(51, 83, 107, 0.8);
  }
  /* -----------content ---------- */
  section {
padding:7em 0;
  }
  section h2{
    font-size: 2.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    text-align: center;
    background-color: black;
    border-style: groove;
  }
/* -----------Articles ----------- */  
section#articles{
  background-color:#181c1f;
  color:beige;
  border: #ffffff;
  border-style: groove;
  text-align: center;
  
}
section#articles .container{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
border-bottom: 1px solid #c0c0cc;
}
section#articles h2, #content h2{
  flex:0 0 100%;
  color:#c0c0cc;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;

}
section#articles h2{
  color:#c0c0cc;
  text-shadow: 1px 1px #c0c0cc;
}
#articles article.post{
  width:25%;
  box-shadow:1 6px 9px gray;
  padding:20px;
  font-size:0.9rem;
  border-radius: 12px;
  background-color: #708097;
}
#articles article.post h2{
  font-size: 2em;
}
#articles article.post h2{
  box-shadow: rgba(51, 83, 107, 0.8);
}
#articles article time,
#artices article figcaption
#articles article footer{
  font-size:0.5em;
  color:#ffffff;
  text-transform:uppercase;
}

#articles .post a:link
#articls .post a:visited
{color: #708097

}
#articles .post figure{
  margin: 0;
}
#articles .post img{
  border-radius: 8px;
}
#articles li{
  margin-bottom: 25px;
}
h3{
  text-align: center;
  color: #000000;
  background-color: #708097;
  border-radius: 3em;
  border-style: solid;
}
h4{
  text-align: center;
  color: #000000;
  background-color: #708097;
  border-radius: 3em;
  border-style: solid;
}

p{
  background-color: #708097;
  border: solid;
}
/* ----------- effects --------- */
#slideshow{
  padding:3em 0;

}
/*----------- Id selector ---------- */
aside[role="complemntary"]{
  background-color: #000000;
  color:whitesmoke;
  padding:2.3em;
}
aside .container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
aside article.widget{
  width:35%;
}
.widget.ovrview table{
  font-size: 0.5em;
border-collapse: collapse;
}
.widget.overview table td:nth-child(even)
{
  text-align: left;}

table th td{
  border:3px solid black; 
  border-collapse: collapse;
}
aside article a:link,
aside article a:visited{
  color:#c0c0cc;
display: block;
margin-top: 1em;
letter-spacing: 1px;

}
aside article a:hover,
aside article a:active {
text-decoration: none;
}
/*-------- Footer ---------*/
footer#colophon{
  background-color:#708097;
}
#colophone h6{
  padding:25px;
  margin:0;
  color:aliceblue;
  text-align: center;
  font-size:1rem;
  text-transform: uppercase;
}
#colophon h6:link,
#colophone h6:visited{
  color:#c0c0cc;
}
/* ----------- media queries ---------- */
@media screen and (max-width:650px){
  header.primary nav ul{flex-direction: column;
    margin: 0 auto;
    width: 550px;
}}
header.primary nav ul li{
  margin-bottom: 12px;
  width:410px;
}
header.primary nav ul li a{
  display: block;
}

