



/* navbar container */
.navbar {
    overflow:hidden;
    background-color:#333;
    font-family: arial;
}
/* links iside the navbar */
.navbar a{
    float: left;
    font-size: 16px;
    color:white;
    text-align:center;
    padding:15px 18px;
    text-decoration:none;
    margin-top: 0px;
}
/* dropdown container */
.dropdown{
    float: left;
    overflow: hiddden;
}
/* dropdown button */
.dropown .dropbtn {
    font-size:20px;
    border:none;
    outline:none;
    color:white;
    padding:20px 16px;
    background-color: inherit;
    font-family: inherit; 
    
}
.navbar a:hover, .dropdown:hover.dropbtn{
    background-color: blueviolet;
}
/* Dropown content(hidden by defaut) */
.dropdown-content{
    display:none;
    position:absolute;
    background-color:aquamarine;
    min-width:160px;
    box-shadow: 0px 10px 20px 0px
    rgba(0,0,0,0.2);
    z-index:1;
}
/* Links iside dropdown */
.dropdown-content a {
    float:none;
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
    text-align:left;
}
/* Add grey background color to dropdown links on hover */
.dropdown-contenta:hover{
    background-color: #ddd;
}
/* show the dropdown menu on hover */
.dropdown:hover.dropdown-content{
    display:block;
}
/* css for the body */
body {
    color:white;
    font-family: sans-serif;
    background-repeat: no-repeat, repeat;
    background-color:#cccccc;
}
a{
    color:brown;
    text-align: center;
    background-color: black;
    font-family: sans-serif;
}
/* T|R|B|L */
header{
color:white;
background-color: rgba(218, 165, 32, 0.399);
padding:20px;
font-family: sans-serif;
text-align:center;
margin-top: 15px;
margin-left: 35px;
margin-right: 35px;
}
h1{text-align: center;
   font-family: sans-serif; 
   background-color: brown;
   padding:20px;
   margin-top: 0px;
   margin-left:35px;
   margin-right:35px;
}
h2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
border:5px; border-style:groove;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:5px; border-style: solid;
    background-color:burlywood;
    color:gray;
}
/* table container */
table{
    border: 5px;
    border-style: solid;
}